<h1>Events to Come</h1>
<% @present_events.each do |e| %>
	<ul>
		<li><%= e.location %></li>
		<li><%= e.event_date %></li>
	</ul>
<% end %>
<br>
<br>
<h1>Pasts Events</h1>
<% @past_events.each do |e| %>
	<ul>
		<li><%= e.location %></li>
		<li><%= e.event_date %></li>
	</ul>
<% end %>
